body {
  background-image: url(../img/resize_image.jpeg);
  background-color: rgba(255, 255, 255, 0.9);
  background-blend-mode: lighten;
  background-position: center;
  background-size: cover;
}

header {
  margin-top: 30px;
  color: #2e99a9;
}

hr {
  border-width: 3px;
  border-color: #2e99a9;
  margin: 30px 0;
}

h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.col-sm-6 img {
  margin-right: 5px;
}

.badge {
  margin-left: 5px;
}

.form-group span {
  background-color: red;
}

.form-check-inline {
  display: inline;
}

.footer-container {
  text-align: center;
}
